<a href="https://colab.research.google.com/github/Amirhatamian/Programming-Project/blob/main/PROJECT22.10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Importing** **libraries** **and** **Create** **Dataframe**

In [3]:
# importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
# creating netflix_movie dataframe
nba_df = pd.read_csv('games_details.csv')
teams_df = pd.read_csv('teams.csv')

<ipython-input-4-86d468589409>:2: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  nba_df = pd.read_csv('games_details.csv')

# **Data Exploration and Data Cleaning**

In [273]:
nba_df.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,1.0,1.0,1.000,0.0,0.0,0.000,0.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,7.0,14.0,0.500,2.0,4.0,0.500,7.0,10.0,0.7,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,6.0,9.0,0.667,0.0,0.0,0.000,1.0,1.0,1.0,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,4.0,13.0,0.308,1.0,6.0,0.167,1.0,1.0,1.0,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,7.0,12.0,0.583,1.0,3.0,0.333,4.0,4.0,1.0,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0

In [274]:
nba_df.tail()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
668623,11200005,1610612743,DEN,Denver,202706,Jordan Hamilton,NaN,NaN,NaN,19,4.0,9.0,0.444,3.0,6.0,0.5,6.0,7.0,0.857,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,NaN
668624,11200005,1610612743,DEN,Denver,202702,Kenneth Faried,NaN,NaN,NaN,23,7.0,11.0,0.636,0.0,0.0,0.0,4.0,4.0,1.000,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,NaN
668625,11200005,1610612743,DEN,Denver,201585,Kosta Koufos,NaN,NaN,NaN,15,3.0,7.0,0.429,0.0,0.0,0.0,0.0,0.0,0.000,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,NaN
668626,11200005,1610612743,DEN,Denver,202389,Timofey Mozgov,NaN,NaN,NaN,19,1.0,1.0,1.000,0.0,0.0,0.0,0.0,2.0,0.000,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,NaN
668627,11200005,1610612743,DEN,Denver,201951,Ty Lawson,NaN,NaN,NaN,27,3.0,6.0,0.500,0.0,0.0,0.0,2.0,4.0,0.500,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,NaN

In [275]:
nba_df.shape

(668628, 29)

In [276]:
nba_df.describe()

,GAME_ID,TEAM_ID,PLAYER_ID,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
count,6.686280e+05,6.686280e+05,6.686280e+05,558938.000000,558938.000000,558938.000000,558938.000000,558938.000000,558938.000000,558938.000000,558938.000000,558938.000000,558938.000000,558938.000000,558938.00000,558938.000000,558938.000000,558938.000000,558938.000000,558938.000000,558938.000000,535277.000000
mean,2.171771e+07,1.610613e+09,4.013434e+05,3.588446,7.896652,0.416842,0.778117,2.186019,0.201032,1.733217,2.284212,0.435949,1.024212,3.033798,4.05801,2.103958,0.721436,0.460339,1.320297,1.999538,9.688218,-0.000488
std,5.656289e+06,8.652260e+00,7.225618e+06,3.030466,5.677002,0.251913,1.227615,2.569913,0.289685,2.353981,2.886583,0.428166,1.397830,2.687384,3.48250,2.475476,0.972231,0.860962,1.402329,1.502963,8.082152,10.665573
min,1.030000e+07,1.610613e+09,1.500000e+01,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-57.000000
25%,2.070003e+07,1.610613e+09,2.466000e+03,1.000000,3.000000,0.267000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.00000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,-7.000000
50%,2.120096e+07,1.610613e+09,2.011810e+05,3.000000,7.000000,0.429000,0.000000,1.000000,0.000000,1.000000,2.000000,0.500000,1.000000,2.000000,3.00000,1.000000,0.000000,0.000000,1.000000,2.000000,8.000000,0.000000
75%,2.180014e+07,1.610613e+09,2.034710e+05,5.000000,11.000000,0.571000,1.000000,4.000000,0.400000,3.000000,4.000000,0.909000,2.000000,4.000000,6.00000,3.000000,1.000000,1.000000,2.000000,3.000000,14.000000,6.000000
max,5.210021e+07,1.610613e+09,1.962938e+09,28.000000,50.000000,1.000000,14.000000,24.000000,1.000000,26.000000,39.000000,1.000000,18.000000,25.000000,31.00000,25.000000,10.000000,12.000000,12.000000,15.000000,81.000000,57.000000

In [277]:
nba_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 668628 entries, 0 to 668627
Data columns (total 29 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   GAME_ID            668628 non-null  int64
 1   TEAM_ID            668628 non-null  int64
 2   TEAM_ABBREVIATION  668628 non-null  object
 3   TEAM_CITY          668628 non-null  object
 4   PLAYER_ID          668628 non-null  int64
 5   PLAYER_NAME        668628 non-null  object
 6   NICKNAME           53037 non-null   object
 7   START_POSITION     255765 non-null  object
 8   COMMENT            109689 non-null  object
 9   MIN                558938 non-null  object
 10  FGM                558938 non-null  float64
 11  FGA                558938 non-null  float64
 12  FG_PCT             558938 non-null  float64
 13  FG3M               558938 non-null  float64
 14  FG3A               558938 non-null  float64
 15  FG3_PCT            558938 non-null  float64
 16  FTM                558938 non-null  float64
 17  FTA                558938 non-null  float64
 18  FT_PCT             558938 non-null  float64
 19  OREB               558938 non-null  float64
 20  DREB               558938 non-null  float64
 21  REB                558938 non-null  float64
 22  AST                558938 non-null  float64
 23  STL                558938 non-null  float64
 24  BLK                558938 non-null  float64
 25  TO                 558938 non-null  float64
 26  PF                 558938 non-null  float64
 27  PTS                558938 non-null  float64
 28  PLUS_MINUS         535277 non-null  float64
dtypes: float64(19), int64(3), object(7)
memory usage: 147.9+ MB

In [278]:
nba_df.dtypes

GAME_ID                int64
TEAM_ID                int64
TEAM_ABBREVIATION     object
TEAM_CITY             object
PLAYER_ID              int64
PLAYER_NAME           object
NICKNAME              object
START_POSITION        object
COMMENT               object
MIN                   object
FGM                  float64
FGA                  float64
FG_PCT               float64
FG3M                 float64
FG3A                 float64
FG3_PCT              float64
FTM                  float64
FTA                  float64
FT_PCT               float64
OREB                 float64
DREB                 float64
REB                  float64
AST                  float64
STL                  float64
BLK                  float64
TO                   float64
PF                   float64
PTS                  float64
PLUS_MINUS           float64
dtype: object

In [279]:
nba_df.duplicated().sum()

0

In [280]:
nba_df.corr()

,GAME_ID,TEAM_ID,PLAYER_ID,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
GAME_ID,1.000000,-0.034193,-0.004770,0.032073,0.035696,-0.011566,0.040971,0.053392,0.014945,0.009810,0.006611,-0.012734,0.009419,0.028570,0.025827,0.014413,-0.004494,0.012488,-0.019849,0.016284,0.033135,0.000002
TEAM_ID,-0.034193,1.000000,0.005020,-0.004936,-0.002352,-0.000025,-0.020382,-0.024864,-0.007205,-0.000047,0.001390,0.003817,0.006152,-0.009826,-0.005113,-0.012319,-0.002167,0.003991,-0.007695,-0.002545,-0.006812,-0.016631
PLAYER_ID,-0.004770,0.005020,1.000000,-0.005698,-0.006998,-0.002473,0.003886,0.005461,0.002927,-0.007574,-0.007927,-0.006061,-0.005476,-0.005228,-0.006232,-0.005748,-0.003170,-0.003077,-0.007345,-0.007606,-0.005889,-0.006227
FGM,0.032073,-0.004936,-0.005698,1.000000,0.884811,0.495104,0.482553,0.445941,0.321772,0.471759,0.479046,0.381720,0.270930,0.446704,0.453461,0.403497,0.291612,0.175715,0.394347,0.269982,0.960616,0.196420
FGA,0.035696,-0.002352,-0.006998,0.884811,1.000000,0.207637,0.461507,0.578244,0.248690,0.509445,0.506872,0.410796,0.264840,0.446311,0.450714,0.473537,0.326079,0.146165,0.434416,0.275989,0.882013,0.094611
FG_PCT,-0.011566,-0.000025,-0.002473,0.495104,0.207637,1.000000,0.209441,0.035260,0.300301,0.136666,0.155110,0.159355,0.149736,0.210963,0.222899,0.090951,0.100545,0.131458,0.125096,0.174510,0.442903,0.190916
FG3M,0.040971,-0.020382,0.003886,0.482553,0.461507,0.209441,1.000000,0.821939,0.720576,0.154954,0.124534,0.155523,-0.111142,0.094987,0.028689,0.253522,0.158915,-0.052690,0.165492,0.077458,0.558897,0.158738
FG3A,0.053392,-0.024864,0.005461,0.445941,0.578244,0.035260,0.821939,1.000000,0.454892,0.203229,0.166303,0.195098,-0.131481,0.113583,0.034875,0.330298,0.204450,-0.069809,0.211504,0.087621,0.518457,0.077268
FG3_PCT,0.014945,-0.007205,0.002927,0.321772,0.248690,0.300301,0.720576,0.454892,1.000000,0.079904,0.054440,0.097949,-0.126282,0.027021,-0.029836,0.181416,0.108440,-0.071406,0.099213,0.036157,0.374019,0.138653
FTM,0.009810,-0.000047,-0.007574,0.471759,0.509445,0.136666,0.154954,0.203229,0.079904,1.000000,0.950707,0.682506,0.190581,0.323751,0.326330,0.311785,0.215998,0.129154,0.330792,0.199335,0.668572,0.111948
FTA,0.006611,0.001390,-0.007927,0.479046,0.506872,0.155110,0.124534,0.166303,0.054440,0.950707,1.000000,0.596636,0.241713,0.359579,0.374501,0.298991,0.220538,0.163816,0.337710,0.219069,0.655059,0.102456
FT_PCT,-0.012734,0.003817,-0.006061,0.381720,0.410796,0.159355,0.155523,0.195098,0.097949,0.682506,0.596636,1.000000,0.150931,0.255575,0.257805,0.251501,0.182035,0.095822,0.250945,0.190352,0.508664,0.097472
OREB,0.009419,0.006152,-0.005476,0.270930,0.264840,0.149736,-0.111142,-0.131481,-0.126282,0.190581,0.241713,0.150931,1.000000,0.392898,0.704579,0.003473,0.083093,0.278052,0.137559,0.231538,0.241801,0.043132
DREB,0.028570,-0.009826,-0.005228,0.446704,0.446311,0.210963,0.094987,0.113583,0.027021,0.323751,0.359579,0.255575,0.392898,1.000000,0.929386,0.217657,0.176405,0.326700,0.295332,0.284075,0.443712,0.175027
REB,0.025827,-0.005113,-0.006232,0.453461,0.450714,0.222899,0.028689,0.034875,-0.029836,0.326330,0.374501,0.257805,0.704579,0.929386,1.000000,0.169356,0.169481,0.363715,0.283117,0.312152,0.439461,0.152331
AST,0.014413,-0.012319,-0.005748,0.403497,0.473537,0.090951,0.253522,0.330298,0.181416,0.311785,0.298991,0.251501,0.003473,0.217657,0.169356,1.000000,0.295724,-0.000977,0.389712,0.131939,0.431907,0.170802
STL,-0.004494,-0.002167,-0.003170,0.291612,0.326079,0.100545,0.158915,0.204450,0.108440,0.215998,0.220538,0.182035,0.083093,0.176405,0.169481,0.295724,1.000000,0.058444,0.229197,0.144556,0.305733,0.122150
BLK,0.012488,0.003991,-0.003077,0.175715,0.146165,0.131458,-0.052690,-0.069809,-0.071406,0.129154,0.163816,0.095822,0.278052,0.326700,0.363715,-0.000977,0.058444,1.000000,0.101626,0.174259,0.161385,0.088352
TO,-0.019849,-0.007695,-0.007345,0.394347,0.434416,0.125096,0.165492,0.211504,0.099213,0.330792,0.337710,0.250945,0.137559,0.295332,0.283117,0.389712,0.229197,0.101626,1.000000,0.260275,0.417207,-0.016318
PF,0.016284,-0.002545,-0.007606,0.269982,0.275989,0.174510,0.077458,0.087621,0.036157,0.199335,0.219069,0.190352,0.231538,0.284075,0.312152,0.131939,0.144556,0.174259,0.260275,1.000000,0.272287,0.012918
PTS,0.033135,-0.006812,-0.005889,0.960616,0.882013,0.442903,0.558897,0.518457,0.374019,0.668572,0.655059,0.508664,0.241801,0.443712,0.439461,0.431907,0.305733,0.161385,0.417207,0.272287,1.000000,0.203816
PLUS_MINUS,0.000002,-0.016631,-0.006227,0.196420,0.094611,0.190916,0.158738,0.077268,0.138653,0.111948,0.102456,0.097472,0.043132,0.175027,0.152331,0.170802,0.122150,0.088352,-0.016318,0.012918,0.203816,1.000000

In [281]:
teams_df

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends
5,0,1610612743,1976,2019,DEN,Nuggets,1976,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
6,0,1610612745,1967,2019,HOU,Rockets,1967,Houston,Toyota Center,18104.0,Tilman Fertitta,Daryl Morey,Mike D'Antoni,Rio Grande Valley Vipers
7,0,1610612746,1970,2019,LAC,Clippers,1970,Los Angeles,Staples Center,19060.0,Steve Ballmer,Michael Winger,Doc Rivers,Agua Caliente Clippers of Ontario
8,0,1610612747,1948,2019,LAL,Lakers,1948,Los Angeles,Staples Center,19060.0,Jerry Buss Family Trust,Rob Pelinka,Frank Vogel,South Bay Lakers
9,0,1610612748,1988,2019,MIA,Heat,1988,Miami,AmericanAirlines Arena,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
10,0,1610612749,1968,2019,MIL,Bucks,1968,Milwaukee,Fiserv Forum,17500.0,Wesley Edens &Marc Lasry,Jon Horst,Mike Budenholzer,Wisconsin Herd
11,0,1610612750,1989,2019,MIN,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
12,0,1610612751,1976,2019,BKN,Nets,1976,Brooklyn,Barclays Center,NaN,Joe Tsai,Sean Marks,Kenny Atkinson,Long Island Nets
13,0,1610612752,1946,2019,NYK,Knicks,1946,New York,Madison Square Garden,19763.0,Cablevision (James Dolan),Steve Mills,David Fizdale,Westchester Knicks
14,0,1610612753,1989,2019,ORL,Magic,1989,Orlando,Amway Center,0.0,Rick DeVos,John Hammond,Steve Clifford,Lakeland Magic
15,0,1610612754,1976,2019,IND,Pacers,1976,Indiana,Bankers Life Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Nate McMillan,Fort Wayne Mad Ants
16,0,1610612755,1949,2019,PHI,76ers,1949,Philadelphia,Wells Fargo Center,NaN,Joshua Harris,Elton Brand,Brett Brown,Delaware Blue Coats
17,0,1610612756,1968,2019,PHX,Suns,1968,Phoenix,Talking Stick Resort Arena,NaN,Robert Sarver,James Jones,Monty Williams,Northern Arizona Suns
18,0,1610612757,1970,2019,POR,Trail Blazers,1970,Portland,Moda Center,19980.0,Paul Allen,Neil Olshey,Terry Stotts,No Affiliate
19,0,1610612758,1948,2019,SAC,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
20,0,1610612759,1976,2019,SAS,Spurs,1976,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
21,0,1610612760,1967,2019,OKC,Thunder,1967,Oklahoma City,Chesapeake Energy Arena,19163.0,Clay Bennett,Sam Presti,Billy Donovan,Oklahoma City Blue
22,0,1610612761,1995,2019,TOR,Raptors,1995,Toronto,Scotiabank Arena,19800.0,Maple Leaf Sports and Entertainment,Masai Ujiri,Nick Nurse,Raptors 905
23,0,1610612762,1974,2019,UTA,Jazz,1974,Utah,Vivint Smart Home Arena,20148.0,Greg Miller,Dennis Lindsey,Quin Snyder,Salt Lake City Stars
24,0,1610612763,1995,2019,MEM,Grizzlies,1995,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle
25,0,1610612764,1961,2019,WAS,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
26,0,1610612765,1948,2019,DET,Pistons,1948,Detroit,Little Caesars Arena,21000.0,Tom Gores,Ed Stefanski,Dwane Casey,Grand Rapids Drive
27,0,1610612766,1988,2019,CHA,Hornets,1988,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,James Borrego,Greensboro Swarm
28,0,1610612739,1970,2019,CLE,Cavaliers,1970,Cleveland,Quicken Loans Arena,20562.0,Dan Gilbert,Koby Altman,John Beilein,Canton Charge
29,0,1610612744,1946,2019,GSW,Warriors,1946,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors

In [5]:
teams_df.duplicated().sum()

0

In [282]:
teams_df.head()

,LEAGUE_ID,TEAM_ID,MIN_YEAR,MAX_YEAR,ABBREVIATION,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,0,1610612737,1949,2019,ATL,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,0,1610612738,1946,2019,BOS,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,0,1610612740,2002,2019,NOP,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,0,1610612741,1966,2019,CHI,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,0,1610612742,1980,2019,DAL,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends

In [283]:
teams_df.shape

(30, 14)

In [284]:
teams_df.shape[0]

30

In [285]:
nba_df.head()

,GAME_ID,TEAM_ID,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_ID,PLAYER_NAME,NICKNAME,START_POSITION,COMMENT,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,22200477,1610612759,SAS,San Antonio,1629641,Romeo Langford,Romeo,F,NaN,18:06,1.0,1.0,1.000,0.0,0.0,0.000,0.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,22200477,1610612759,SAS,San Antonio,1631110,Jeremy Sochan,Jeremy,F,NaN,31:01,7.0,14.0,0.500,2.0,4.0,0.500,7.0,10.0,0.7,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,22200477,1610612759,SAS,San Antonio,1627751,Jakob Poeltl,Jakob,C,NaN,21:42,6.0,9.0,0.667,0.0,0.0,0.000,1.0,1.0,1.0,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,22200477,1610612759,SAS,San Antonio,1630170,Devin Vassell,Devin,G,NaN,30:20,4.0,13.0,0.308,1.0,6.0,0.167,1.0,1.0,1.0,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,22200477,1610612759,SAS,San Antonio,1630200,Tre Jones,Tre,G,NaN,27:44,7.0,12.0,0.583,1.0,3.0,0.333,4.0,4.0,1.0,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0

In [286]:
# Assuming that the nba_df dataframe has columns 'GAME_ID', 'TEAM_ID', 'PLAYER_ID', 'NICKNAME', and 'COMMENT'
nba_df.drop(['GAME_ID', 'TEAM_ID', 'PLAYER_ID', 'NICKNAME', 'COMMENT'], axis=1, inplace=True)

In [287]:
nba_df

,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_NAME,START_POSITION,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS
0,SAS,San Antonio,Romeo Langford,F,18:06,1.0,1.0,1.000,0.0,0.0,0.000,0.0,0.0,0.000,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0
1,SAS,San Antonio,Jeremy Sochan,F,31:01,7.0,14.0,0.500,2.0,4.0,0.500,7.0,10.0,0.700,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0
2,SAS,San Antonio,Jakob Poeltl,C,21:42,6.0,9.0,0.667,0.0,0.0,0.000,1.0,1.0,1.000,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0
3,SAS,San Antonio,Devin Vassell,G,30:20,4.0,13.0,0.308,1.0,6.0,0.167,1.0,1.0,1.000,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0
4,SAS,San Antonio,Tre Jones,G,27:44,7.0,12.0,0.583,1.0,3.0,0.333,4.0,4.0,1.000,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
668623,DEN,Denver,Jordan Hamilton,NaN,19,4.0,9.0,0.444,3.0,6.0,0.500,6.0,7.0,0.857,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,NaN
668624,DEN,Denver,Kenneth Faried,NaN,23,7.0,11.0,0.636,0.0,0.0,0.000,4.0,4.0,1.000,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,NaN
668625,DEN,Denver,Kosta Koufos,NaN,15,3.0,7.0,0.429,0.0,0.0,0.000,0.0,0.0,0.000,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,NaN
668626,DEN,Denver,Timofey Mozgov,NaN,19,1.0,1.0,1.000,0.0,0.0,0.000,0.0,2.0,0.000,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,NaN
668627,DEN,Denver,Ty Lawson,NaN,27,3.0,6.0,0.500,0.0,0.0,0.000,2.0,4.0,0.500,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,NaN

In [288]:
teams_df.drop(['LEAGUE_ID', 'TEAM_ID','ABBREVIATION'], axis=1, inplace=True)

In [289]:
teams_df

,MIN_YEAR,MAX_YEAR,NICKNAME,YEARFOUNDED,CITY,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,1949,2019,Hawks,1949,Atlanta,State Farm Arena,18729.0,Tony Ressler,Travis Schlenk,Lloyd Pierce,Erie Bayhawks
1,1946,2019,Celtics,1946,Boston,TD Garden,18624.0,Wyc Grousbeck,Danny Ainge,Brad Stevens,Maine Red Claws
2,2002,2019,Pelicans,2002,New Orleans,Smoothie King Center,NaN,Tom Benson,Trajan Langdon,Alvin Gentry,No Affiliate
3,1966,2019,Bulls,1966,Chicago,United Center,21711.0,Jerry Reinsdorf,Gar Forman,Jim Boylen,Windy City Bulls
4,1980,2019,Mavericks,1980,Dallas,American Airlines Center,19200.0,Mark Cuban,Donnie Nelson,Rick Carlisle,Texas Legends
5,1976,2019,Nuggets,1976,Denver,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
6,1967,2019,Rockets,1967,Houston,Toyota Center,18104.0,Tilman Fertitta,Daryl Morey,Mike D'Antoni,Rio Grande Valley Vipers
7,1970,2019,Clippers,1970,Los Angeles,Staples Center,19060.0,Steve Ballmer,Michael Winger,Doc Rivers,Agua Caliente Clippers of Ontario
8,1948,2019,Lakers,1948,Los Angeles,Staples Center,19060.0,Jerry Buss Family Trust,Rob Pelinka,Frank Vogel,South Bay Lakers
9,1988,2019,Heat,1988,Miami,AmericanAirlines Arena,19600.0,Micky Arison,Pat Riley,Erik Spoelstra,Sioux Falls Skyforce
10,1968,2019,Bucks,1968,Milwaukee,Fiserv Forum,17500.0,Wesley Edens &Marc Lasry,Jon Horst,Mike Budenholzer,Wisconsin Herd
11,1989,2019,Timberwolves,1989,Minnesota,Target Center,19356.0,Glen Taylor,Scott Layden,Ryan Saunders,Iowa Wolves
12,1976,2019,Nets,1976,Brooklyn,Barclays Center,NaN,Joe Tsai,Sean Marks,Kenny Atkinson,Long Island Nets
13,1946,2019,Knicks,1946,New York,Madison Square Garden,19763.0,Cablevision (James Dolan),Steve Mills,David Fizdale,Westchester Knicks
14,1989,2019,Magic,1989,Orlando,Amway Center,0.0,Rick DeVos,John Hammond,Steve Clifford,Lakeland Magic
15,1976,2019,Pacers,1976,Indiana,Bankers Life Fieldhouse,18345.0,Herb Simon,Kevin Pritchard,Nate McMillan,Fort Wayne Mad Ants
16,1949,2019,76ers,1949,Philadelphia,Wells Fargo Center,NaN,Joshua Harris,Elton Brand,Brett Brown,Delaware Blue Coats
17,1968,2019,Suns,1968,Phoenix,Talking Stick Resort Arena,NaN,Robert Sarver,James Jones,Monty Williams,Northern Arizona Suns
18,1970,2019,Trail Blazers,1970,Portland,Moda Center,19980.0,Paul Allen,Neil Olshey,Terry Stotts,No Affiliate
19,1948,2019,Kings,1948,Sacramento,Golden 1 Center,17500.0,Vivek Ranadive,Vlade Divac,Luke Walton,Stockton Kings
20,1976,2019,Spurs,1976,San Antonio,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
21,1967,2019,Thunder,1967,Oklahoma City,Chesapeake Energy Arena,19163.0,Clay Bennett,Sam Presti,Billy Donovan,Oklahoma City Blue
22,1995,2019,Raptors,1995,Toronto,Scotiabank Arena,19800.0,Maple Leaf Sports and Entertainment,Masai Ujiri,Nick Nurse,Raptors 905
23,1974,2019,Jazz,1974,Utah,Vivint Smart Home Arena,20148.0,Greg Miller,Dennis Lindsey,Quin Snyder,Salt Lake City Stars
24,1995,2019,Grizzlies,1995,Memphis,FedExForum,18119.0,Robert Pera,Zach Kleiman,Taylor Jenkins,Memphis Hustle
25,1961,2019,Wizards,1961,Washington,Capital One Arena,20647.0,Ted Leonsis,Tommy Sheppard,Scott Brooks,Capital City Go-Go
26,1948,2019,Pistons,1948,Detroit,Little Caesars Arena,21000.0,Tom Gores,Ed Stefanski,Dwane Casey,Grand Rapids Drive
27,1988,2019,Hornets,1988,Charlotte,Spectrum Center,19026.0,Michael Jordan,Mitch Kupchak,James Borrego,Greensboro Swarm
28,1970,2019,Cavaliers,1970,Cleveland,Quicken Loans Arena,20562.0,Dan Gilbert,Koby Altman,John Beilein,Canton Charge
29,1946,2019,Warriors,1946,Golden State,Chase Center,19596.0,Joe Lacob,Bob Myers,Steve Kerr,Santa Cruz Warriors

In [290]:
# First, rename the 'CITY' column in teams_df to match the column name in nba_df
teams_df = teams_df.rename(columns={'CITY': 'TEAM_CITY'})

# Then merge the two data frames on the 'TEAM_CITY' column
df = pd.merge(nba_df, teams_df, on='TEAM_CITY', how='left')

In [291]:
pd.set_option('display.max_columns', None)

In [292]:
df

,TEAM_ABBREVIATION,TEAM_CITY,PLAYER_NAME,START_POSITION,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_YEAR,MAX_YEAR,NICKNAME,YEARFOUNDED,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,SAS,San Antonio,Romeo Langford,F,18:06,1.0,1.0,1.000,0.0,0.0,0.000,0.0,0.0,0.000,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0,1976.0,2019.0,Spurs,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
1,SAS,San Antonio,Jeremy Sochan,F,31:01,7.0,14.0,0.500,2.0,4.0,0.500,7.0,10.0,0.700,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0,1976.0,2019.0,Spurs,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
2,SAS,San Antonio,Jakob Poeltl,C,21:42,6.0,9.0,0.667,0.0,0.0,0.000,1.0,1.0,1.000,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0,1976.0,2019.0,Spurs,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
3,SAS,San Antonio,Devin Vassell,G,30:20,4.0,13.0,0.308,1.0,6.0,0.167,1.0,1.0,1.000,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0,1976.0,2019.0,Spurs,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
4,SAS,San Antonio,Tre Jones,G,27:44,7.0,12.0,0.583,1.0,3.0,0.333,4.0,4.0,1.000,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0,1976.0,2019.0,Spurs,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705318,DEN,Denver,Jordan Hamilton,NaN,19,4.0,9.0,0.444,3.0,6.0,0.500,6.0,7.0,0.857,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,NaN,1976.0,2019.0,Nuggets,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
705319,DEN,Denver,Kenneth Faried,NaN,23,7.0,11.0,0.636,0.0,0.0,0.000,4.0,4.0,1.000,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,NaN,1976.0,2019.0,Nuggets,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
705320,DEN,Denver,Kosta Koufos,NaN,15,3.0,7.0,0.429,0.0,0.0,0.000,0.0,0.0,0.000,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,NaN,1976.0,2019.0,Nuggets,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
705321,DEN,Denver,Timofey Mozgov,NaN,19,1.0,1.0,1.000,0.0,0.0,0.000,0.0,2.0,0.000,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,NaN,1976.0,2019.0,Nuggets,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
705322,DEN,Denver,Ty Lawson,NaN,27,3.0,6.0,0.500,0.0,0.0,0.000,2.0,4.0,0.500,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,NaN,1976.0,2019.0,Nuggets,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate

In [293]:
# get the current column order
current_cols = df.columns.tolist()

# define the new column order with 'NICKNAME' next to 'TEAM_CITY'
new_cols = ['TEAM_ABBREVIATION', 'TEAM_CITY', 'NICKNAME', 'PLAYER_NAME', 'START_POSITION', 'MIN', 'FGM', 'FGA', 'FG_PCT',
            'FG3M', 'FG3A', 'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL', 'BLK', 'TO', 'PF',
            'PTS', 'PLUS_MINUS', 'MIN_YEAR', 'MAX_YEAR', 'ABBREVIATION', 'YEARFOUNDED', 'ARENA', 'ARENACAPACITY',
            'OWNER', 'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION']

# update the column order
df = df.reindex(columns=new_cols)

In [294]:
df.columns

Index(['TEAM_ABBREVIATION', 'TEAM_CITY', 'NICKNAME', 'PLAYER_NAME',
       'START_POSITION', 'MIN', 'FGM', 'FGA', 'FG_PCT', 'FG3M', 'FG3A',
       'FG3_PCT', 'FTM', 'FTA', 'FT_PCT', 'OREB', 'DREB', 'REB', 'AST', 'STL',
       'BLK', 'TO', 'PF', 'PTS', 'PLUS_MINUS', 'MIN_YEAR', 'MAX_YEAR',
       'ABBREVIATION', 'YEARFOUNDED', 'ARENA', 'ARENACAPACITY', 'OWNER',
       'GENERALMANAGER', 'HEADCOACH', 'DLEAGUEAFFILIATION'],
      dtype='object')

In [295]:
df

,TEAM_ABBREVIATION,TEAM_CITY,NICKNAME,PLAYER_NAME,START_POSITION,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_YEAR,MAX_YEAR,ABBREVIATION,YEARFOUNDED,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,SAS,San Antonio,Spurs,Romeo Langford,F,18:06,1.0,1.0,1.000,0.0,0.0,0.000,0.0,0.0,0.000,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0,1976.0,2019.0,NaN,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
1,SAS,San Antonio,Spurs,Jeremy Sochan,F,31:01,7.0,14.0,0.500,2.0,4.0,0.500,7.0,10.0,0.700,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0,1976.0,2019.0,NaN,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
2,SAS,San Antonio,Spurs,Jakob Poeltl,C,21:42,6.0,9.0,0.667,0.0,0.0,0.000,1.0,1.0,1.000,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0,1976.0,2019.0,NaN,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
3,SAS,San Antonio,Spurs,Devin Vassell,G,30:20,4.0,13.0,0.308,1.0,6.0,0.167,1.0,1.0,1.000,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0,1976.0,2019.0,NaN,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
4,SAS,San Antonio,Spurs,Tre Jones,G,27:44,7.0,12.0,0.583,1.0,3.0,0.333,4.0,4.0,1.000,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0,1976.0,2019.0,NaN,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705318,DEN,Denver,Nuggets,Jordan Hamilton,NaN,19,4.0,9.0,0.444,3.0,6.0,0.500,6.0,7.0,0.857,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,NaN,1976.0,2019.0,NaN,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
705319,DEN,Denver,Nuggets,Kenneth Faried,NaN,23,7.0,11.0,0.636,0.0,0.0,0.000,4.0,4.0,1.000,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,NaN,1976.0,2019.0,NaN,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
705320,DEN,Denver,Nuggets,Kosta Koufos,NaN,15,3.0,7.0,0.429,0.0,0.0,0.000,0.0,0.0,0.000,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,NaN,1976.0,2019.0,NaN,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
705321,DEN,Denver,Nuggets,Timofey Mozgov,NaN,19,1.0,1.0,1.000,0.0,0.0,0.000,0.0,2.0,0.000,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,NaN,1976.0,2019.0,NaN,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
705322,DEN,Denver,Nuggets,Ty Lawson,NaN,27,3.0,6.0,0.500,0.0,0.0,0.000,2.0,4.0,0.500,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,NaN,1976.0,2019.0,NaN,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate

In [296]:
df.head()

,TEAM_ABBREVIATION,TEAM_CITY,NICKNAME,PLAYER_NAME,START_POSITION,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_YEAR,MAX_YEAR,ABBREVIATION,YEARFOUNDED,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,SAS,San Antonio,Spurs,Romeo Langford,F,18:06,1.0,1.0,1.000,0.0,0.0,0.000,0.0,0.0,0.0,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0,1976.0,2019.0,NaN,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
1,SAS,San Antonio,Spurs,Jeremy Sochan,F,31:01,7.0,14.0,0.500,2.0,4.0,0.500,7.0,10.0,0.7,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0,1976.0,2019.0,NaN,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
2,SAS,San Antonio,Spurs,Jakob Poeltl,C,21:42,6.0,9.0,0.667,0.0,0.0,0.000,1.0,1.0,1.0,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0,1976.0,2019.0,NaN,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
3,SAS,San Antonio,Spurs,Devin Vassell,G,30:20,4.0,13.0,0.308,1.0,6.0,0.167,1.0,1.0,1.0,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0,1976.0,2019.0,NaN,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
4,SAS,San Antonio,Spurs,Tre Jones,G,27:44,7.0,12.0,0.583,1.0,3.0,0.333,4.0,4.0,1.0,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0,1976.0,2019.0,NaN,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs

In [297]:
df.tail()

,TEAM_ABBREVIATION,TEAM_CITY,NICKNAME,PLAYER_NAME,START_POSITION,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_YEAR,MAX_YEAR,ABBREVIATION,YEARFOUNDED,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
705318,DEN,Denver,Nuggets,Jordan Hamilton,NaN,19,4.0,9.0,0.444,3.0,6.0,0.5,6.0,7.0,0.857,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,NaN,1976.0,2019.0,NaN,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
705319,DEN,Denver,Nuggets,Kenneth Faried,NaN,23,7.0,11.0,0.636,0.0,0.0,0.0,4.0,4.0,1.000,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,NaN,1976.0,2019.0,NaN,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
705320,DEN,Denver,Nuggets,Kosta Koufos,NaN,15,3.0,7.0,0.429,0.0,0.0,0.0,0.0,0.0,0.000,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,NaN,1976.0,2019.0,NaN,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
705321,DEN,Denver,Nuggets,Timofey Mozgov,NaN,19,1.0,1.0,1.000,0.0,0.0,0.0,0.0,2.0,0.000,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,NaN,1976.0,2019.0,NaN,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
705322,DEN,Denver,Nuggets,Ty Lawson,NaN,27,3.0,6.0,0.500,0.0,0.0,0.0,2.0,4.0,0.500,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,NaN,1976.0,2019.0,NaN,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate

In [298]:
df.describe()

,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_YEAR,MAX_YEAR,ABBREVIATION,YEARFOUNDED,ARENACAPACITY
count,589443.000000,589443.000000,589443.000000,589443.000000,589443.000000,589443.000000,589443.000000,589443.000000,589443.000000,589443.000000,589443.000000,589443.000000,589443.000000,589443.000000,589443.000000,589443.000000,589443.000000,589443.000000,564163.000000,679486.000000,679486.0,0.0,679486.000000,603456.000000
mean,3.590033,7.898107,0.416794,0.773968,2.176899,0.200426,1.737825,2.292907,0.435476,1.026147,3.035303,4.061450,2.106244,0.721868,0.461848,1.322415,2.001646,9.691855,-0.005883,1969.049607,2019.0,NaN,1969.049607,18585.651027
std,3.036509,5.687042,0.251967,1.223329,2.562956,0.289567,2.363676,2.903057,0.427933,1.400474,2.694422,3.493893,2.476643,0.972872,0.863946,1.404065,1.503265,8.099302,10.668289,16.417026,0.0,NaN,16.417026,3728.884634
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-57.000000,1946.000000,2019.0,NaN,1946.000000,0.000000
25%,1.000000,3.000000,0.267000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,1.000000,3.000000,-7.000000,1949.000000,2019.0,NaN,1949.000000,18624.000000
50%,3.000000,7.000000,0.429000,0.000000,1.000000,0.000000,1.000000,2.000000,0.500000,1.000000,2.000000,3.000000,1.000000,0.000000,0.000000,1.000000,2.000000,8.000000,0.000000,1970.000000,2019.0,NaN,1970.000000,19099.000000
75%,5.000000,11.000000,0.571000,1.000000,4.000000,0.375000,3.000000,4.000000,0.909000,2.000000,4.000000,6.000000,3.000000,1.000000,1.000000,2.000000,3.000000,14.000000,6.000000,1980.000000,2019.0,NaN,1980.000000,19800.000000
max,28.000000,50.000000,1.000000,14.000000,24.000000,1.000000,26.000000,39.000000,1.000000,18.000000,25.000000,31.000000,25.000000,10.000000,12.000000,12.000000,15.000000,81.000000,57.000000,2002.000000,2019.0,NaN,2002.000000,21711.000000

In [299]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 705323 entries, 0 to 705322
Data columns (total 35 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   TEAM_ABBREVIATION   705323 non-null  object
 1   TEAM_CITY           705323 non-null  object
 2   NICKNAME            679486 non-null  object
 3   PLAYER_NAME         705323 non-null  object
 4   START_POSITION      269765 non-null  object
 5   MIN                 589443 non-null  object
 6   FGM                 589443 non-null  float64
 7   FGA                 589443 non-null  float64
 8   FG_PCT              589443 non-null  float64
 9   FG3M                589443 non-null  float64
 10  FG3A                589443 non-null  float64
 11  FG3_PCT             589443 non-null  float64
 12  FTM                 589443 non-null  float64
 13  FTA                 589443 non-null  float64
 14  FT_PCT              589443 non-null  float64
 15  OREB                589443 non-null  float64
 16  DREB                589443 non-null  float64
 17  REB                 589443 non-null  float64
 18  AST                 589443 non-null  float64
 19  STL                 589443 non-null  float64
 20  BLK                 589443 non-null  float64
 21  TO                  589443 non-null  float64
 22  PF                  589443 non-null  float64
 23  PTS                 589443 non-null  float64
 24  PLUS_MINUS          564163 non-null  float64
 25  MIN_YEAR            679486 non-null  float64
 26  MAX_YEAR            679486 non-null  float64
 27  ABBREVIATION        0 non-null       float64
 28  YEARFOUNDED         679486 non-null  float64
 29  ARENA               679486 non-null  object
 30  ARENACAPACITY       603456 non-null  float64
 31  OWNER               679486 non-null  object
 32  GENERALMANAGER      679486 non-null  object
 33  HEADCOACH           679486 non-null  object
 34  DLEAGUEAFFILIATION  679486 non-null  object
dtypes: float64(24), object(11)
memory usage: 193.7+ MB

In [300]:
df.shape

(705323, 35)

In [301]:
nba_df.isnull().sum()

TEAM_ABBREVIATION         0
TEAM_CITY                 0
PLAYER_NAME               0
START_POSITION       412863
MIN                  109690
FGM                  109690
FGA                  109690
FG_PCT               109690
FG3M                 109690
FG3A                 109690
FG3_PCT              109690
FTM                  109690
FTA                  109690
FT_PCT               109690
OREB                 109690
DREB                 109690
REB                  109690
AST                  109690
STL                  109690
BLK                  109690
TO                   109690
PF                   109690
PTS                  109690
PLUS_MINUS           133351
dtype: int64

In [302]:
df.dtypes

TEAM_ABBREVIATION      object
TEAM_CITY              object
NICKNAME               object
PLAYER_NAME            object
START_POSITION         object
MIN                    object
FGM                   float64
FGA                   float64
FG_PCT                float64
FG3M                  float64
FG3A                  float64
FG3_PCT               float64
FTM                   float64
FTA                   float64
FT_PCT                float64
OREB                  float64
DREB                  float64
REB                   float64
AST                   float64
STL                   float64
BLK                   float64
TO                    float64
PF                    float64
PTS                   float64
PLUS_MINUS            float64
MIN_YEAR              float64
MAX_YEAR              float64
ABBREVIATION          float64
YEARFOUNDED           float64
ARENA                  object
ARENACAPACITY         float64
OWNER                  object
GENERALMANAGER         object
HEADCOACH              object
DLEAGUEAFFILIATION     object
dtype: object

In [303]:
df.corr()

,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_YEAR,MAX_YEAR,ABBREVIATION,YEARFOUNDED,ARENACAPACITY
FGM,1.000000,0.885218,0.494996,0.479255,0.443037,0.318450,0.474627,0.482155,0.382659,0.273749,0.448426,0.455546,0.403544,0.291014,0.178187,0.395589,0.270798,0.960722,0.195740,-0.003512,NaN,NaN,-0.003512,-0.000152
FGA,0.885218,1.000000,0.208175,0.458905,0.575627,0.246296,0.512216,0.509416,0.411758,0.267048,0.446754,0.451570,0.473177,0.325668,0.147527,0.435176,0.276530,0.882552,0.093991,-0.004510,NaN,NaN,-0.004510,-0.000659
FG_PCT,0.494996,0.208175,1.000000,0.208757,0.034535,0.299256,0.137499,0.156526,0.159876,0.151281,0.213023,0.224918,0.091112,0.100246,0.133477,0.126095,0.175618,0.442817,0.190708,0.000110,NaN,NaN,0.000110,-0.002506
FG3M,0.479255,0.458905,0.208757,1.000000,0.821632,0.720935,0.153255,0.122527,0.154638,-0.111900,0.091419,0.025647,0.251776,0.159781,-0.054936,0.164274,0.076127,0.555121,0.157326,-0.003535,NaN,NaN,-0.003535,-0.007128
FG3A,0.443037,0.575627,0.034535,0.821632,1.000000,0.454969,0.201719,0.164314,0.194394,-0.132604,0.109261,0.031108,0.328483,0.205732,-0.072539,0.210079,0.086111,0.515168,0.075984,-0.003895,NaN,NaN,-0.003895,-0.010795
FG3_PCT,0.318450,0.246296,0.299256,0.720935,0.454969,1.000000,0.077834,0.052111,0.096576,-0.126848,0.024226,-0.032162,0.180355,0.109314,-0.073658,0.098415,0.035097,0.370380,0.138254,0.003328,NaN,NaN,0.003328,-0.010752
FTM,0.474627,0.512216,0.137499,0.153255,0.201719,0.077834,1.000000,0.950420,0.681500,0.193160,0.325209,0.328220,0.311526,0.215909,0.130917,0.331954,0.200800,0.670869,0.111858,-0.001680,NaN,NaN,-0.001680,0.003845
FTA,0.482155,0.509416,0.156526,0.122527,0.164314,0.052111,0.950420,1.000000,0.595104,0.245206,0.362476,0.377821,0.298665,0.219921,0.166682,0.338921,0.220853,0.657403,0.102643,-0.003213,NaN,NaN,-0.003213,0.000739
FT_PCT,0.382659,0.411758,0.159876,0.154638,0.194394,0.096576,0.681500,0.595104,1.000000,0.152207,0.255808,0.258284,0.251385,0.182236,0.096721,0.251311,0.191040,0.509168,0.097184,0.004769,NaN,NaN,0.004769,-0.000447
OREB,0.273749,0.267048,0.151281,-0.111900,-0.132604,-0.126848,0.193160,0.245206,0.152207,1.000000,0.395664,0.705963,0.005860,0.081681,0.281200,0.139742,0.232409,0.244732,0.043831,-0.006554,NaN,NaN,-0.006554,0.007628
DREB,0.448426,0.446754,0.213023,0.091419,0.109261,0.024226,0.325209,0.362476,0.255808,0.395664,1.000000,0.929776,0.219907,0.174541,0.329852,0.297880,0.284832,0.444955,0.174415,-0.000409,NaN,NaN,-0.000409,-0.006550
REB,0.455546,0.451570,0.224918,0.025647,0.031108,-0.032162,0.328220,0.377821,0.258284,0.705963,0.929776,1.000000,0.171937,0.167343,0.367090,0.285733,0.312814,0.441237,0.152024,-0.002942,NaN,NaN,-0.002942,-0.001986
AST,0.403544,0.473177,0.091112,0.251776,0.328483,0.180355,0.311526,0.298665,0.251385,0.005860,0.219907,0.171937,1.000000,0.296486,-0.000156,0.389528,0.132725,0.431529,0.170868,-0.007002,NaN,NaN,-0.007002,0.004057
STL,0.291014,0.325668,0.100246,0.159781,0.205732,0.109314,0.215909,0.219921,0.182236,0.081681,0.174541,0.167343,0.296486,1.000000,0.056689,0.228692,0.144378,0.305352,0.122497,-0.007341,NaN,NaN,-0.007341,0.004360
BLK,0.178187,0.147527,0.133477,-0.054936,-0.072539,-0.073658,0.130917,0.166682,0.096721,0.281200,0.329852,0.367090,-0.000156,0.056689,1.000000,0.103230,0.175098,0.163518,0.088511,0.001859,NaN,NaN,0.001859,0.001172
TO,0.395589,0.435176,0.126095,0.164274,0.210079,0.098415,0.331954,0.338921,0.251311,0.139742,0.297880,0.285733,0.389528,0.228692,0.103230,1.000000,0.260550,0.418307,-0.016590,-0.014118,NaN,NaN,-0.014118,-0.005304
PF,0.270798,0.276530,0.175618,0.076127,0.086111,0.035097,0.200800,0.220853,0.191040,0.232409,0.284832,0.312814,0.132725,0.144378,0.175098,0.260550,1.000000,0.273149,0.013217,-0.011708,NaN,NaN,-0.011708,0.002538
PTS,0.960722,0.882552,0.442817,0.555121,0.515168,0.370380,0.670869,0.657403,0.509168,0.244732,0.444955,0.441237,0.431529,0.305352,0.163518,0.418307,0.273149,1.000000,0.202980,-0.003660,NaN,NaN,-0.003660,-0.000065
PLUS_MINUS,0.195740,0.093991,0.190708,0.157326,0.075984,0.138254,0.111858,0.102643,0.097184,0.043831,0.174415,0.152024,0.170868,0.122497,0.088511,-0.016590,0.013217,0.202980,1.000000,0.004844,NaN,NaN,0.004844,0.013132
MIN_YEAR,-0.003512,-0.004510,0.000110,-0.003535,-0.003895,0.003328,-0.001680,-0.003213,0.004769,-0.006554,-0.000409,-0.002942,-0.007002,-0.007341,0.001859,-0.014118,-0.011708,-0.003660,0.004844,1.000000,NaN,NaN,1.000000,-0.251229
MAX_YEAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ABBREVIATION,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
YEARFOUNDED,-0.003512,-0.004510,0.000110,-0.003535,-0.003895,0.003328,-0.001680,-0.003213,0.004769,-0.006554,-0.000409,-0.002942,-0.007002,-0.007341,0.001859,-0.014118,-0.011708,-0.003660,0.004844,1.000000,NaN,NaN,1.000000,-0.251229
ARENACAPACITY,-0.000152,-0.000659,-0.002506,-0.007128,-0.010795,-0.010752,0.003845,0.000739,-0.000447,0.007628,-0.006550,-0.001986,0.004057,0.004360,0.001172,-0.005304,0.002538,-0.000065,0.013132,-0.251229,NaN,NaN,-0.251229,1.000000

In [304]:
df.duplicated().sum()

109507

In [305]:
df.drop_duplicates(inplace=True)

In [306]:
df.duplicated().sum()

0

In [307]:
df['TEAM_CITY'].unique()

array(['San Antonio', 'New Orleans', 'Washington', 'Utah', 'Milwaukee',
       'Cleveland', 'Detroit', 'Philadelphia', 'Chicago', 'Atlanta',
       'Indiana', 'Boston', 'Golden State', 'Brooklyn', 'Toronto',
       'New York', 'Orlando', 'Houston', 'Dallas', 'Minnesota',
       'Portland', 'Oklahoma City', 'Los Angeles', 'Sacramento',
       'Charlotte', 'LA', 'Miami', 'Phoenix', 'Memphis', 'Denver',
       'New Jersey', 'Seattle', 'New Orleans/Oklahoma City'], dtype=object)

In [308]:
df['TEAM_ABBREVIATION'].unique()

array(['SAS', 'NOP', 'WAS', 'UTA', 'MIL', 'CLE', 'DET', 'PHI', 'CHI',
       'ATL', 'IND', 'BOS', 'GSW', 'BKN', 'TOR', 'NYK', 'ORL', 'HOU',
       'DAL', 'MIN', 'POR', 'OKC', 'LAL', 'SAC', 'CHA', 'LAC', 'MIA',
       'PHX', 'MEM', 'DEN', 'NOH', 'NJN', 'SEA', 'NOK'], dtype=object)

In [309]:
df = df[df['TEAM_CITY'] != 'New Orleans/Oklahoma City']
df = df[df['TEAM_CITY'] != 'Seattle']
df = df[df['TEAM_CITY'] != 'New Jersey']

In [310]:
df

,TEAM_ABBREVIATION,TEAM_CITY,NICKNAME,PLAYER_NAME,START_POSITION,MIN,FGM,FGA,FG_PCT,FG3M,FG3A,FG3_PCT,FTM,FTA,FT_PCT,OREB,DREB,REB,AST,STL,BLK,TO,PF,PTS,PLUS_MINUS,MIN_YEAR,MAX_YEAR,ABBREVIATION,YEARFOUNDED,ARENA,ARENACAPACITY,OWNER,GENERALMANAGER,HEADCOACH,DLEAGUEAFFILIATION
0,SAS,San Antonio,Spurs,Romeo Langford,F,18:06,1.0,1.0,1.000,0.0,0.0,0.000,0.0,0.0,0.000,1.0,1.0,2.0,0.0,1.0,0.0,2.0,5.0,2.0,-2.0,1976.0,2019.0,NaN,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
1,SAS,San Antonio,Spurs,Jeremy Sochan,F,31:01,7.0,14.0,0.500,2.0,4.0,0.500,7.0,10.0,0.700,6.0,3.0,9.0,6.0,1.0,0.0,2.0,1.0,23.0,-14.0,1976.0,2019.0,NaN,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
2,SAS,San Antonio,Spurs,Jakob Poeltl,C,21:42,6.0,9.0,0.667,0.0,0.0,0.000,1.0,1.0,1.000,1.0,3.0,4.0,1.0,1.0,0.0,2.0,4.0,13.0,-4.0,1976.0,2019.0,NaN,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
3,SAS,San Antonio,Spurs,Devin Vassell,G,30:20,4.0,13.0,0.308,1.0,6.0,0.167,1.0,1.0,1.000,0.0,9.0,9.0,5.0,3.0,0.0,2.0,1.0,10.0,-18.0,1976.0,2019.0,NaN,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
4,SAS,San Antonio,Spurs,Tre Jones,G,27:44,7.0,12.0,0.583,1.0,3.0,0.333,4.0,4.0,1.000,0.0,2.0,2.0,3.0,0.0,0.0,2.0,2.0,19.0,0.0,1976.0,2019.0,NaN,1976.0,AT&T Center,18694.0,Peter Holt,Brian Wright,Gregg Popovich,Austin Spurs
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
705318,DEN,Denver,Nuggets,Jordan Hamilton,NaN,19,4.0,9.0,0.444,3.0,6.0,0.500,6.0,7.0,0.857,0.0,2.0,2.0,0.0,2.0,0.0,1.0,3.0,17.0,NaN,1976.0,2019.0,NaN,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
705319,DEN,Denver,Nuggets,Kenneth Faried,NaN,23,7.0,11.0,0.636,0.0,0.0,0.000,4.0,4.0,1.000,1.0,0.0,1.0,1.0,1.0,0.0,3.0,3.0,18.0,NaN,1976.0,2019.0,NaN,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
705320,DEN,Denver,Nuggets,Kosta Koufos,NaN,15,3.0,7.0,0.429,0.0,0.0,0.000,0.0,0.0,0.000,3.0,5.0,8.0,0.0,1.0,0.0,0.0,3.0,6.0,NaN,1976.0,2019.0,NaN,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
705321,DEN,Denver,Nuggets,Timofey Mozgov,NaN,19,1.0,1.0,1.000,0.0,0.0,0.000,0.0,2.0,0.000,1.0,2.0,3.0,1.0,0.0,0.0,4.0,2.0,2.0,NaN,1976.0,2019.0,NaN,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate
705322,DEN,Denver,Nuggets,Ty Lawson,NaN,27,3.0,6.0,0.500,0.0,0.0,0.000,2.0,4.0,0.500,0.0,2.0,2.0,6.0,2.0,0.0,6.0,1.0,8.0,NaN,1976.0,2019.0,NaN,1976.0,Pepsi Center,19099.0,Stan Kroenke,Tim Connelly,Michael Malone,No Affiliate

In [311]:
num_teams = df['TEAM_CITY'].nunique()
print("Number of Unique Teams:", num_teams)

Number of Unique Teams: 30

In [312]:
df['START_POSITION'].value_counts()

G    105229
F    105218
C     52595
Name: START_POSITION, dtype: int64

In [313]:
num_players = df['PLAYER_NAME'].nunique()
print("Number of Unique Players:", num_players)

Number of Unique Players: 2649

In [314]:
most_start_position = df['START_POSITION'].value_counts().index[0]
print("Most frequently occurring start position:", most_start_position)

Most frequently occurring start position: G

In [315]:
highest_PTS = df['PTS'].max()
print("Highest points:", highest_PTS)

Highest points: 81.0

In [316]:
lowest_PTS = df['PTS'].min()
print("Lowest points:", lowest_PTS)

Lowest points: 0.0

In [317]:

# convert 'MIN' column to numeric dtype
df['MIN'] = pd.to_numeric(df['MIN'], errors='coerce')

# find the player with the lowest minutes played
player_lowest_min_index = df['MIN'].idxmin()
player_lowest_min = df.loc[player_lowest_min_index, 'PLAYER_NAME']
print("Player with the lowest minutes played:", player_lowest_min)

Player with the lowest minutes played: Carl Landry

In [318]:
#find the player with the most time played
player_most_min_index = df['MIN'].idxmax()
player_most_min = df.loc[player_most_min_index, 'PLAYER_NAME']
most_min = df.loc[player_most_min_index, 'MIN']
print("Player with the most time played:", player_most_min)
print("Minutes played:", most_min)

Player with the most time played: Matt Barnes
Minutes played: 96.0

In [319]:
df['MIN']

0          NaN
1          NaN
2          NaN
3          NaN
4          NaN
          ...
705318    19.0
705319    23.0
705320    15.0
705321    19.0
705322    27.0
Name: MIN, Length: 581000, dtype: float64

In [320]:
# Check for null values.
for col in df.columns:
  null_rate = df[col].isnull().sum() / len(df) * 100
  if null_rate > 0:
    print(f'Percentage of null values in {col} : {null_rate}%')

Percentage of null values in NICKNAME : 1.3089500860585197%
Percentage of null values in START_POSITION : 54.725989672977626%
Percentage of null values in MIN : 95.81170395869191%
Percentage of null values in FGM : 1.0833046471600687%
Percentage of null values in FGA : 1.0833046471600687%
Percentage of null values in FG_PCT : 1.0833046471600687%
Percentage of null values in FG3M : 1.0833046471600687%
Percentage of null values in FG3A : 1.0833046471600687%
Percentage of null values in FG3_PCT : 1.0833046471600687%
Percentage of null values in FTM : 1.0833046471600687%
Percentage of null values in FTA : 1.0833046471600687%
Percentage of null values in FT_PCT : 1.0833046471600687%
Percentage of null values in OREB : 1.0833046471600687%
Percentage of null values in DREB : 1.0833046471600687%
Percentage of null values in REB : 1.0833046471600687%
Percentage of null values in AST : 1.0833046471600687%
Percentage of null values in STL : 1.0833046471600687%
Percentage of null values in BLK : 1.0833046471600687%
Percentage of null values in TO : 1.0833046471600687%
Percentage of null values in PF : 1.0833046471600687%
Percentage of null values in PTS : 1.0833046471600687%
Percentage of null values in PLUS_MINUS : 5.271600688468158%
Percentage of null values in MIN_YEAR : 1.3089500860585197%
Percentage of null values in MAX_YEAR : 1.3089500860585197%
Percentage of null values in ABBREVIATION : 100.0%
Percentage of null values in YEARFOUNDED : 1.3089500860585197%
Percentage of null values in ARENA : 1.3089500860585197%
Percentage of null values in ARENACAPACITY : 12.217555938037867%
Percentage of null values in OWNER : 1.3089500860585197%
Percentage of null values in GENERALMANAGER : 1.3089500860585197%
Percentage of null values in HEADCOACH : 1.3089500860585197%
Percentage of null values in DLEAGUEAFFILIATION : 1.3089500860585197%

In [ ]:
sns.heatmap(nba_df.isnull(),cmap='cividis', cbar_kws={'label': 'Missing Values'})

In [ ]:
df.isna().sum()

In [ ]:
df.isnull()

In [ ]:
df['PLUS_MINUS'].fillna(df['PLUS_MINUS'].mean(), inplace=True)
df['START_POSITION'].fillna(df['START_POSITION'].mode()[0], inplace=True)
df['MIN'].fillna(df['MIN'].mean(), inplace=True)

In [ ]:
df

In [ ]:
df

In [ ]:
df.dropna(subset=['NICKNAME'], inplace=True)

In [ ]:
df['FGM'].fillna(df['FGM'].mean(), inplace=True)
df['FGA'].fillna(df['FGA'].mean(), inplace=True)
df['FG_PCT'].fillna(df['FG_PCT'].mean(), inplace=True)
df['FG3M'].fillna(df['FG3M'].mean(), inplace=True)

In [ ]:
df['FG3A'].fillna(df['FG3A'].mean(), inplace=True)
df['FG3_PCT'].fillna(df['FG3_PCT'].mean(), inplace=True)
df['FTM'].fillna(df['FTM'].mean(), inplace=True)
df['FTA'].fillna(df['FTA'].mean(), inplace=True)
df['FT_PCT'].fillna(df['FT_PCT'].mean(), inplace=True)
df['OREB'].fillna(df['OREB'].mean(), inplace=True)
df['DREB'].fillna(df['DREB'].mean(), inplace=True)
df['REB'].fillna(df['REB'].mean(), inplace=True)
df['AST'].fillna(df['AST'].mean(), inplace=True)
df['STL'].fillna(df['STL'].mean(), inplace=True)
df['BLK'].fillna(df['BLK'].mean(), inplace=True)
df['TO'].fillna(df['TO'].mean(), inplace=True)
df['PF'].fillna(df['PF'].mean(), inplace=True)
df['PTS'].fillna(df['PTS'].mean(), inplace=True)
df['ARENACAPACITY'].fillna(df['ARENACAPACITY'].mean(), inplace=True)

In [ ]:
df.isna().sum()

In [ ]:
df.shape

In [ ]:
df.describe()

In [ ]:
df.corr()

In [ ]:
sns.heatmap(df.isnull(), cmap='viridis')
plt.title('Missing Values Heatmap')
plt.show()